* {
  ul {
    list-style: none;
    padding-left: 0;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  input,
  select {
    height: 2rem;
    border-radius: 0.25rem !important;

    &:focus-visible {
      outline: 2px solid lighten($defaultThird, 30);
    }
  }
}
html {
  overflow: hidden !important;
}

//手機版本切換
.mobileSearchBtn {
  display: none;
}
.mobileDrawerBtn {
  display: none;
  span {
    font-size: 2rem;
    color: $defaultPrimary;
  }
}
.isSmallScreen {
  .navDrawer {
    position: absolute !important;
    .drawerBtn {
      top: 0rem;
      border-radius: 0 20px 20px 0 !important;
      right: -40px;
    }
    > .v-navigation-drawer__content {
      .logoImg {
        display: none;
        + .v-list {
          margin-top: rem(60);
        }
      }
    }
  }

  .mobileDrawerBtn {
    display: block;
  }
  .functionList {
    margin-left: 0;
    .mobileSearchBtn {
      button {
        margin-left: 0;
      }
    }
  }
}
//左側選單
.navDrawer {
  &.v-navigation-drawer {
    background: url('@/assets/body_bg.png') repeat bottom center !important;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 3px;
    border: 0;
    border-radius: 0px !important;
  }

  > .v-navigation-drawer__content {
    display: flex;
    flex-direction: column;
    .logoImg {
      margin: rem(25) rem(10) rem(25) rem(10);
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        width: rem(40);
        + img {
          display: block;
          margin-left: 0.5rem;
          width: rem(144);
        }
      }
      + .v-list {
        width: rem(220);
        margin: 0 auto;
        padding: 0 0.25rem 0 0.5rem;
        overflow-y: scroll;
      }
    }
    .v-list {
      flex-grow: 1;
      overflow-y: scroll;
      .v-list-item--nav:not(:only-child) {
        margin-bottom: 0;
      }
    }
    .v-list-group__items {
      opacity: 1;
    }
    .v-list-item {
      height: rem(50);
      font-weight: 500;
      padding: 0.25rem 0.75rem;
      border-radius: 0.5rem;
      z-index: 1;
      .v-list-item-title {
        white-space: normal;
        font-size: em(16);
        line-height: 1.2rem;
        font-weight: 500;
      }
      + .v-list-group__items {
        .v-list-item {
          height: unset;
          min-height: rem(36);
          margin-bottom: 0px;
          padding-inline-start: 1rem !important;
          .v-list-item-title {
            font-size: em(15);
            line-height: rem(16);
            margin-left: rem(28);
            font-weight: 800;
          }
        }
      }
    }
  }
  .v-list-item__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;

    .v-list-item-title {
      font-size: 1em;
    }
    img {
      width: rem(22);
      margin-right: 0.75rem;
    }
  }
  .v-list-item__prepend {
    width: 1.5rem;
    margin-right: 0.5rem;
    > .v-icon {
      opacity: 1;
    }
  }
  .v-list-item__append {
    width: 1.5rem;
    margin-left: 0.5rem;
    i {
      margin: 0;
    }
  }
  .drawerBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    right: -27px;
    top: calc(50vh - 60px);
    clip-path: circle(57.5% at 0 50%);
    background: url('@/assets/body_bg.png') repeat left top;
    width: rem(32);
    height: rem(45);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 0px 3px;
    border-radius: 0 !important;
    span {
      transition: 0.5s all;
      margin-left: -1.25rem;
      color: $defaultSecondary;
      font-size: 1.25rem;
      margin-right: 0.25rem;
      transform: rotate(180deg);
    }
  }

  .text-navText {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      padding-left: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: $defaultThird;
    }
    &::-webkit-scrollbar-track {
      border-radius: 0;
      background: $defaultBg;
      border-radius: 5px;
    }
  }
}
.userInfo {
  display: flex;
  background: #ccc;

  padding: rem(10);
  margin: 0.5rem;
  min-height: rem(60);
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  li {
    font-weight: 700;
    font-size: em(16);
    line-height: rem(20);
    color: #363636;
  }
  button {
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    transition: 0.5s all;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: em(30);
      color: #363636;
      font-weight: bolder;
    }
  }
}
.userName {
  font-size: 0.85rem;
  font-weight: 600;
  margin-right: 1rem;
  color: mix(#000, $defaultSecondary, 40%);
  text-wrap: nowrap;

  + button {
    margin-top: 0.75rem;
  }
  .v-field__input {
    height: 28px;
    padding: 0 0.5rem;
  }
  .v-select__selection-text {
    font-size: 12px;
  }
  @include screen('tablet') {
    span {
      display: block;
    }
    .v-input {
      display: none;
    }
  }
}

//左側選單點擊收起
.navDrawer.hidden {
  > .v-navigation-drawer__content {
    .logoImg {
      margin: rem(30) rem(10);
      .logo {
        + img {
          display: none;
        }
      }
      + .v-list {
        width: unset;
      }
    }
    .v-list-group {
      .v-list-item {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        padding: 0.75rem;
        margin-bottom: 0.5rem;
        .v-list-item__content {
          justify-content: center;
          .v-list-item-title {
            display: none;
          }
          img {
            width: rem(24);
            height: rem(24);
            margin-right: 0;
          }
        }
        .v-list-item__append {
          display: none;
        }
        + .v-list-group__items {
          display: none;
        }
      }
    }
  }
  .userInfo {
    margin-bottom: 1.5rem;
    .v-avatar,
    ul {
      display: none;
    }
  }
  .drawerBtn {
    span {
      transform: rotate(0deg);
    }
  }
}
button.navBtn {
  margin: 0 0.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .icon {
    height: rem(35);
    width: rem(35);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #331919;
    border-radius: 50%;
    font-weight: 500;
    z-index: 1;
  }
  &:after {
    content: '';
    position: absolute;
    height: rem(40);
    width: rem(40);
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 1%, rgba(228, 180, 148, 1) 100%);
  }
  .v-badge__badge {
    z-index: 1;
  }
}
.logo {
  margin: 0 10px;
  img {
    width: 320px;
  }
  @include screen('tablet') {
    min-width: 60px;
    width: 60px;
    overflow: hidden;
  }
}
header .loginBtn {
  background: $defaultPrimary;
  color: #fff;
  &:hover {
    background: $defaultSecondary;
  }
}

//main
main {
  position: relative;
  z-index: 0;
  background-size: cover;

  > div {
    padding: 0 rem(32);
  }
}

//TopNav
.navTitle {
  > div {
    padding: 0 rem(32);
    display: flex;
    align-items: center;
    .CIP_title,
    .title {
      font-size: 1.5em;
      margin: 0.25rem 0;
      line-height: 1.2em;
      font-weight: 600;
      color: #fff;
      text-shadow: $text-shadow;
    }
  }
  @include screen('notebook') {
    background-color: $defaultBg !important;
    min-height: rem(64);
    box-shadow: $boxShadow;
  }
  .userLoginCard {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: row-reverse;

    .userLoginCardBtn {
      padding: 1rem 0.6rem;
      align-items: center;
      position: relative;
      border-radius: 0.5rem 0 0 0.5rem;
      box-shadow: $boxShadow;
      display: none;
      .material-icons-round {
        writing-mode: initial;
        border-radius: 50%;
        font-weight: 700;
        position: absolute;
        font-size: 1.75rem;
        left: -0.75rem;
      }
      span {
        writing-mode: vertical-lr;
        font-size: em(14);
        font-weight: 700;
        letter-spacing: 0.1rem;
        z-index: 1;
      }
    }
    .card {
      box-shadow: $boxShadow;
      border-radius: 0 0 1rem 1rem;
      align-self: flex-start;
      transition: all 0.5s;
      overflow: hidden;

      white-space: nowrap;
      ul {
        padding: 0.75rem;
        padding-bottom: 0.5rem;
        li {
          color: #fff;
          font-weight: 600;
          font-size: em(14);
        }
      }
      &.open {
        transition: all 0.5s;
        width: rem(260);
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    .userLoginCard {
      .userLoginCardBtn {
        display: flex;
      }
      position: absolute;
      right: 0;
      top: rem(80);
      z-index: 999;
      .card {
        width: 0px;
        margin-top: 1rem;
        border-radius: 0.5rem 0 0 0.5rem;
        width: 0;
        overflow: hidden;
        ul {
          padding-right: 1.5rem;
        }
      }
    }
  }
}
header {
  background: url('@/assets/body_bg.png') repeat bottom center !important;
  .v-slide-group__prev {
    color: #b6b6b6;
  }
  .v-slide-group {
    @include screen('tablet') {
      margin: 0 !important;
    }
  }
}
.v-main.content {
  .v-sheet {
    @media screen and (max-width: 992px) {
      height: calc(100vh - 72px);
    }
    @include screen('tablet') {
      display: block;
      position: absolute;
      left: 0px;
      top: 72px;
      width: 100%;

      background: #cecece url('@/assets/main_bg.png') repeat left top;
    }
  }
}
