// $color-pack: false;

// @import '~vuetify/src/styles/main.sass';
// @import '~swiper/swiper-bundle.css';
@import 'variables.scss';
@import '@/sass/common/mixins/_mediaquery.scss';
@import '@/sass/common/mixins/_text.scss';
@import '@/sass/component/form.scss';
@import '@/sass/component/table.scss';
@import '@/sass/component/card.scss';
@import '@/sass/component/carousel.scss';
//material-icons-round
@import '@/sass/vendor/material-icons-round.scss';
@import '@/sass/page/layout.scss';

@import '@/sass/page/customize_color.scss';
@import '@/sass/page/customize_font.scss';
@import '@/sass/page/customize_component.scss';
@import '@/sass/page/systempage.scss';
@import '@/sass/page/mp.scss';
@import '@/sass/page/loginpage.scss';
