.v-table .v-table__wrapper > table > tbody > tr > th {
  border-bottom: unset;
  background-color: #9b9b9b; //lighten(#695f5f, 20);
  color: #fff;
}

.v-table--density-default > .v-table__wrapper > table > thead > tr > th {
  height: 40px;
}
.v-slide-group__prev,
.v-slide-group__next {
  color: #fff;
}
.v-btn {
  border-radius: 0.2rem !important;
}
